#page-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#left-side{
  display: flex;
  align-self: flex-start;
  align-self: flex-start;
  flex: 1;
}

#right-side{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 4;
}

.product-card{
  background-color: rgb(179, 179, 230);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  padding-right: 0px;
  margin: 20px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
  margin: 50px;
}

.product-image{
  height: 250px;
  width: 250px;
}

.product-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.product-name{
  color: black;
  font-size: 22px;
}


.page-buttons{
  width: 50px;
  height: 35px;
  font-size: 25px;
  font-weight: bold;
  background-color: darkblue;
  color: white;
}
