
#cart-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card{
  background-color: rgb(179, 179, 230);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  padding-right: 0px;
  margin: 20px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
  margin: 50px;
}

.product-image{
  height: 250px;
  width: 250px;
}

.product-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.product-name{
  color: black;
  font-size: 22px;
}

#checkoutButton{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 20px;
}
